body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
}

.container {
  height: 120px;
  width: 144rem;
  margin: 0 auto;
}
.header__nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 3.3rem 14rem 2.4rem 11.3rem;
  align-items: center;
}
nav > li {
  display: inline-block;
  font-size: 2.4rem;
  color: #b08ead;
  padding-right: 4rem;
}

nav {
  cursor: pointer;
}

.wrapper {
  height: calc(458px + 359px);
  width: 100%;
  position: relative;
}

.header__background-top {
  height: 56%;
  width: 100%;
  position: absolute;
  background: #c9adc6;
}

.header__background-bottom {
  top: 56%;
  height: 44%;
  width: 100%;
  position: absolute;
  background: #d6bbd3;
}

.header__pictures {
  top: 8.8%;
  left: 12%;
  height: 67.5rem;
  position: absolute;
  z-index: 5;
  width: 85.1rem;
}

.header__text {
  background: #b08ead;
  width: 42.5rem;
  height: 45rem;
  color: #ffffff;
  padding-left: 4rem;
}

.first_block {
  position: absolute;
  left: 85%;
  top: 16%;
}

.header__text-title {
  padding-top: 12.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.header__text-body {
  margin: 0;
  margin-bottom: 2.2rem;
  font-size: 4.5rem;
  font-family: "Cormorant Garamond";
  padding-right: 10.5rem;
}

.header__text-footer {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 1.4rem;
  border-bottom: 0.1rem solid #fff;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.Rectangle_A78BA4 {
  height: 5rem;
  width: 5rem;
  position: absolute;
  background: #a78ba4;
  bottom: 0;
  left: 86.6%;
}

.Rectangle_B08EAD {
  height: 5rem;
  width: 5rem;
  position: absolute;
  background: #b08ead;
  bottom: 0;
  left: 90%;
}

.infoblock {
  margin-top: 7.5rem;
  text-align: center;
}

.infoblock p {
  font-size: 2.6rem;
  font-family: "Cormorant Garamond";
  margin: 0 auto;
  width: 74.7rem;
  margin-bottom: 1.7rem;
}
.infoblock-title {
  color: #b99bb6;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}

.infoblock-button {
  background: #fff;
  border: 1px solid #b99bb6;
  border-radius: 25px;
  font-family: "Roboto";
  color: #b99bb6;
  padding: 1.5rem 2.9rem;
}

.infoblock__box {
  width: 80%;
  margin: 5rem auto 7.5rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Cormorant Garamond";
}

.infoblock__info {
  height: 11.3rem;
  margin-top: 0;
  background: #ceb3cb;
  padding-left: 2.3rem;
  padding-top: 2.3rem;
  line-height: 3rem;
}

.infoblock__title {
  font-size: 2.5rem;
  font-weight: 400;
}

.infoblock__content {
  font-size: 1.7rem;
}

.main__pictures {
  height: 82.5rem;
  background: #ceb3cb;
}

.About_big {
  position: absolute;
  left: 44.5%;
  top: 10%;
  z-index: 1;
}

.second_block {
  position: absolute;
  top: 25%;
  left: 20%;
  height: 40.4rem;
}

.infoblock__description {
  width: 80%;
  margin: 7.5rem auto;
}

.infoblock__description-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoblock__description-content article {
  width: 48.1rem;
}

.aticle__title {
  color: #b99bb6;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.infoblock__description-content p {
  font-size: 2.4rem;
  font-family: "Cormorant Garamond";
  color: #5f4d5d;
  margin-bottom: 1rem;
}

hr {
  border: 1px solid #d7b7d4;
  margin: 4rem 0 4rem -6.2rem;
  width: 121.5rem;
}

.third_block {
  position: absolute;
  left: 52%;
  top: 28%;
}

.pillow {
  position: absolute;
  top: 10%;
  left: 18%;
}

.price__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 7.5rem auto;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 2.4rem;
}

figcaption::after {
  content: "$ 19.99 USD";
  display: block;
  color: #b0b0b0;
  font-size: 1.6rem;
  font-family: "Roboto";
}

.footer__address {
  display: flex;
  background: #ceb3cb;
  justify-content: space-evenly;
  padding-top: 9.7rem;
}

ul {
  list-style: none;
  width: 22.5rem;
  padding-top: 2.7rem;
}

.footer__address-list ul :nth-child(odd) {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
}

.footer__address-list ul :nth-child(even) {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 2rem;
}

form {
  width: 60rem;
  color: #fff;
}

form h3 {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto";
  text-transform: uppercase;
}

form section {
  font-size: 2.2rem;
  font-family: "Cormorant Garamond";
  margin-bottom: 2.1rem;
}

.input__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input,
textarea {
  box-sizing: border-box;
  background: #ceb3cb;
  border: 1px solid #ffffff;
  height: 5rem;
  width: 28.8rem;
  padding: 1rem 1.5rem;
  margin-bottom: 2.4rem;
  color: #fff;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

textarea {
  width: 60rem;
  height: 10.3rem;
}

input::placeholder,
textarea::placeholder {
  color: #fff;
  font-size: 1.8rem;
  font-family: "Cormorant Garamond";
  font-style: italic;
}

button {
  font-size: 1.8rem;
  width: 21rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #ceb3cb;
  border: 1px solid #ffffff;
  color: #fff;
  margin-bottom: 8.3rem;
  cursor: pointer;
}

.footer__hz {
  height: 33rem;
  text-align: center;
  margin-top: 9.5rem;
}

.footer__hz-options {
  box-sizing: border-box;
  margin-left: -3px;
  display: inline-block;
  width: 20.8rem;
  height: 6rem;
  border: 2px solid #ceb3cb;
  font-size: 1.8rem;
  text-align: left;
  padding-top: 15px;
  padding-left: 25px;
  font-family: "Cormorant Garamond";
  font-style: italic;
  color: #ceb3cb;
}

.footer__hz-options:hover {
  background: #ceb3cb;
  color: #fff;
  cursor: pointer;
}

.footer__hz-title {
  font-size: 1.4rem;
  font-family: "Roboto";
  color: #b99bb6;
}

.footer__hz p {
  font-family: "Cormorant Garamond";
  font-size: 2.4rem;
  color: #5f4d5d;
  margin-bottom: 1.2rem;
}

.footer__info {
  height: 23.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #d6bbd3;
  color: #fff;
}

.footer__info-criteria {
  padding-top: 4.6rem;
  text-align: center;
  height: 16.2rem;
}

.footer__info h2 {
  font-size: 2.2rem;
  font-family: "Cormorant Garamond";
  font-weight: 400;
}

.footer__info p {
  font-size: 1.6rem;
  font-family: "Roboto";
  font-weight: 400;
}

.footer__nav {
  background: #c9adc6;
  height: 13.7rem;
  width: 100%;
  /* position: absolute;
  bottom: -56rem; */
}

.footer__nav-list {
  padding-top: 4rem;
  padding-left: 11.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__nav-menu {
  padding-left: 6.4rem;
}

.Facebook {
  padding-left: 90rem;
}

.version__info {
  width: 54.3rem;
  color: #fff;
  position: absolute;
  bottom: -58rem;
  left: 7.25rem;
  font-size: 1.2rem;
}

.version__info li {
  display: inline-block;
}

.back{
  padding-left: 130rem;
}